@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: #2564CB;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}