.chiplets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.chiplet {
    border-radius: 50px;
    padding: 2px 8px 3px 8px;
    margin: 2px;
    color: white;
    background-color: #000000;
    font-size: 0.8rem;
}

@media (min-width: 1500px) {
    .chiplet {
        margin: 5px;
        font-size: 1.2rem;
    }
}

.chiplet[data-type="Grass"] {
    background-color: #25CB64;
}

.chiplet[data-type="Poison"] {
    background-color: #6425CB;
}

.chiplet[data-type="Fire"] {
    background-color: #e89417;
}

.chiplet[data-type="Water"] {
    background-color: #2564CB;
}

.chiplet[data-type="Bug"] {
    background-color: #582300;
}

.chiplet[data-type="Electric"] {
    background: linear-gradient(90deg, #478eff, #6425CB);
}

.chiplet[data-type="Ground"] {
    background: linear-gradient(90deg, #702300, #00b300);
}

.chiplet[data-type="Fairy"] {
    background: linear-gradient(90deg, #ffabdc, #ff61f7);
}



.chiplet[data-type="Rock"] {
    background: linear-gradient(90deg, #8a8a8a, #444444);
}

.chiplet[data-type="Psychic"] {
    background: linear-gradient(90deg, #ff5656, #6425CB);
}

.chiplet[data-type="Steel"] {
    background: linear-gradient(90deg, #bdbdbd, #8b7b69);
}

.chiplet[data-type="Normal"] {
    background-color: #3f3f3f;
}

.chiplet[data-type="Fighting"] {
    background: linear-gradient(90deg, #ff0000, #ff7b00);
}

.chiplet[data-type="Ice"] {
    background: linear-gradient(90deg, #a1ffff, #3df9ff);
}

.chiplet[data-type="Dragon"] {
    background: linear-gradient(90deg, #3cff00, #ff2e2e);
}

@keyframes Ghost {
    0% {
        background-color: #949494;
    }

    10% {
        background-color: #949494;
    }

    40% {
        background-color: #f1f1f1;
    }

    60% {
        background-color: #f1f1f1;
    }

    90% {
        background-color: #949494;
    }

    100% {
        background-color: #949494;
    }
}

.chiplet[data-type="Ghost"] {
    animation: Ghost 4s linear 0s infinite;
}

@keyframes Flying {
    0% {
        transform: translateX(-5px) translateY(-2px) rotate(15deg)
    }

    10% {
        transform: translateX(0px) translateY(0px) rotate(15deg)
    }

    20% {
        transform: translateX(5px) translateY(-2px) rotate(15deg)
    }

    30% {
        transform: translateX(10px) translateY(0px) rotate(0deg)
    }

    40% {
        transform: translateX(10px) translateY(-2px) rotate(-15deg) rotateY(180deg)
    }

    50% {
        transform: translateX(5px) translateY(0px) rotate(-15deg) rotateY(180deg)
    }

    60% {
        transform: translateX(0px) translateY(-2px) rotate(-15deg) rotateY(180deg)
    }

    70% {
        transform: translateX(-5px) translateY(0px) rotate(-15deg) rotateY(180deg)
    }

    80% {
        transform: translateX(-10px) translateY(-2px) rotate(0deg) rotateY(180deg)
    }

    90% {
        transform: translateX(-10px) translateY(0px) rotate(15deg)
    }

    100% {
        transform: translateX(-5px) translateY(-2px) rotate(15deg)
    }
}

.chiplet[data-type="Flying"] {
    animation: Flying 5s linear 0s infinite;
    background: linear-gradient(90deg, #3cf9ff, #2da0ff);
}

@keyframes Psychic {
    0% {
        background: linear-gradient(0deg, #ff5656, #6425CB);
    }

    10% {
        background: linear-gradient(36deg, #ff5656, #6425CB);
    }

    20% {
        background: linear-gradient(72deg, #ff5656, #6425CB);
    }

    30% {
        background: linear-gradient(108deg, #ff5656, #6425CB);
    }

    40% {
        background: linear-gradient(144deg, #ff5656, #6425CB);
    }

    50% {
        background: linear-gradient(180deg, #ff5656, #6425CB);
    }

    60% {
        background: linear-gradient(216deg, #ff5656, #6425CB);
    }

    70% {
        background: linear-gradient(252deg, #ff5656, #6425CB);
    }

    80% {
        background: linear-gradient(288deg, #ff5656, #6425CB);
    }

    90% {
        background: linear-gradient(324deg, #ff5656, #6425CB);
    }

    100% {
        background: linear-gradient(360deg, #ff5656, #6425CB);
    }
}

.chiplet[data-type="Psychic"] {
    animation: Psychic 1s linear 0s infinite;
    background: linear-gradient(90deg, #ff5656, #6425CB);
}